html{
    background: #4B94A4;
background: -moz-linear-gradient(45deg, #4B94A4 0%, #B291C5 100%);
background: -webkit-linear-gradient(45deg, #4B94A4 0%, #B291C5 100%);
background: linear-gradient(45deg, #4B94A4 0%, #B291C5 100%);
height:100%
}
body{    
    min-height:10%;
}
    .headers{
        color: #BFFE98;
        margin: 9px;
        margin-top:50px
}

#paragraph{
    padding:10 px;
    margin: 9px ;
    font-size: 25px;
     font-family: Verdana, Geneva, sans-serif;
}
.icons{
    width:5em;
    height:5em
}
.icons:hover{
    opacity:0.5;
}
.extratxt{
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    margin:10px;
}
.dropdown {
    display: inline-block;
    border: 5px solid #BFFE98;
    border-radius: 8px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    padding: 100px ;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }