html{
    background: #FFD935;
    background: -moz-linear-gradient(45deg, #FFD935 0%, #4B94A4 57%, #B291C5 100%);
    background: -webkit-linear-gradient(45deg, #FFD935 0%, #4B94A4 57%, #B291C5 100%);
    background: linear-gradient(45deg, #FFD935 0%, #4B94A4 57%, #B291C5 100%);
        }
body{    
    min-height:100%;
}
.headers{
    color: #BFFE98;
    margin: 100px auto;
    padding: 100px;
}

#paragraph{
    padding:100px;
    margin: 100px auto;
    font-size: 25px;
}